.trafficLightBox {
	background-color: #000000;
    padding: 2rem;
	width: 200px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 20px;
	.trafficLight {
		width: 130px;
		height: 130px;
		background-color: #ffffff;
		border-radius: 50%;
	}
	.red {
		background-color: red;
		opacity: 0.2;
	}
	.red.active {
		opacity: 1;
	}
	.yellow {
		background-color: yellow;
		opacity: 0.2;
	}
	.yellow.active {
		opacity: 1;
	}
	.green {
		opacity: 0.2;
		background-color: green;
	}
	.active.green {
		opacity: 1;
	}
	.active {
		box-shadow: 0 0 40px #ffffff;
	}
}
.trafficLightBoxPole {
	width: 30px;
	height: 200px;
	background-color: #000000;
}
